// ==========================================================================
// Case-study-temp.scss
// ==========================================================================

.section.inset-inner__hero {
	.col__6 {
		@media screen and (max-width: $lns-breakpoint-tablet-max) {
			width: 80rem;
		}
		@media screen and (max-width: $lns-breakpoint-mobile) {
			width: 100rem;
			margin: 0 auto;
		}
	}
}

#case-study__details {
	.container.container-10clm {
		@media screen and (max-width: $lns-breakpoint-tablet-max) {
			width: 80rem;
		}
		@media screen and (max-width: $lns-breakpoint-mobile) {
			width: 105rem;
		}
	}
	.col__6 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media screen and (max-width: $lns-breakpoint-tablet-max) {
			width: 80rem;
		}
		@media screen and (max-width: $lns-breakpoint-mobile) {
			width: 100%;
		}
	}
	.case-study__details {
		margin-top: $lns-space-small;
		@media screen and (max-width: $lns-breakpoint-tablet-max) {
			margin-top: $lns-space-medium;
			margin-bottom: -12rem;
		}
		@media screen and (max-width: $lns-breakpoint-mobile) {
			margin-top: $lns-space-xlarge;
		}
		p:nth-child(odd) {
			color: $lns-brand-black;
		}
	}
}

.case-study__carousel-img {
	@include defaultRadius();
}

.carousel__caption {
	transition: $lns-transition;
	opacity: 0;
	transform: translateY(-1rem);
}

.carousel__caption.in_view {
	opacity: 1;
	transform: translateY(0rem);
}
