// ==========================================================================
// Case-study-temp.scss
// ==========================================================================

#case-study__details {
	.row {
		margin-top: $lns-space-small;
		justify-content: start;
		white-space: nowrap;
		div:first-child {
			color: $lns-brand-black;
			margin-right: $lns-space-medium;
		}
		p {
			margin-top: $lns-space-xsmall;
			margin-bottom: $lns-space-xsmall;
		}
	}
}

.case-study__carousel-img {
	@include defaultRadius();
}

.carousel__caption {
	transition: $lns-transition;
	opacity: 0;
	transform: translateY(-1rem);
}

.carousel__caption.in_view {
	opacity: 1;
	transform: translateY(0rem);
}
