// ==========================================================================
// Blog-temp.scss
// ==========================================================================

#blog-post-hero {
	text-align: center;
	.row {
		justify-content: center;
		p:nth-child(2) {
			opacity: .75;
			margin-left: 0.5 * $lns-space-xsmall;
		}
	}
	.row:nth-of-type(1) {
		margin-top: $lns-space-small;
		margin-bottom: $lns-space-small;
		@media screen and (max-width: $lns-breakpoint-mobile) {
			margin-top: $lns-space-medium;
			margin-bottom: $lns-space-large;
		}
	}
	.social-icon {
		opacity: 1;
		margin: 0rem .75rem;
		@media screen and (max-width: $lns-breakpoint-tablet-max) {
			margin: 0rem 1.5rem;
		}
		@media screen and (max-width: $lns-breakpoint-mobile) {
			margin: 0rem 3rem;
		}
		&:hover {
			opacity: .5;
		}
	}
}

.section.blog__post {
	@include defaultBorders($bottom: solid);
	.blog-post__content {
		p + figure {
			padding: 5rem 0rem 0rem 0rem;
			max-width: 100% !important;
			@media screen and (max-width: $lns-breakpoint-mobile) {
				padding: 17.5rem 0rem 0rem 0rem;
			}
		}
		figure + p {
			padding: 5rem 9rem 0rem 9rem;
			@media screen and (max-width: $lns-breakpoint-mobile) {
				padding: 17.5rem 0rem 0rem 0rem;
			}
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		blockquote,
		p {
			padding: 0 9rem;
			@media screen and (max-width: $lns-breakpoint-mobile) {
				padding: 0;
			}
		}
		figcaption {
			font-style: italic;
			margin-top: $lns-space-xsmall;
			font-size: 1.05rem;
			@media screen and (max-width: $lns-breakpoint-tablet-max) {
				font-size: 1.75rem;
			}
			@media screen and (max-width: $lns-breakpoint-mobile) {
				margin-top: $lns-space-medium;
				font-size: 4.25rem;
			}
		}
	}
}

.styled-blog-img {
	object-fit: cover;
	height: 34rem;
	@media screen and (max-width: $lns-breakpoint-tablet-max) {
		height: 45rem;
	}
	@media screen and (max-width: $lns-breakpoint-mobile) {
		height: 150rem;
	}
}
