// ==========================================================================
// About.scss
// ==========================================================================

.section.about__hero {
	.container {
		justify-content: start;
	}
	h1 {
		margin-top: 7.75rem;
		margin-bottom: 7.75rem;
	}
	.about-hero__img {
		box-shadow: $lns-shadow-default;
	}
}

.two-clm__img {
	box-shadow: $lns-shadow-default;
}

.two-clm__text {
	p {
		margin-top: $lns-space-xsmall;
		margin-bottom: $lns-space-xsmall;
	}
}

.tick-list {
	li {
		margin-top: 2 * $lns-space-xsmall;
	}
	p {
		margin: 0;
	}
}

.standard-tab.active-tab {
	border-top-color: $lns-brand-white;
	opacity: 1;
}

.process__slide.is-active {
	z-index: 999;
	opacity: 1;
}

.test-slide {
	transition: $lns-transition;
}

.test-slide.active {
	background-color: red;
}
