// ==========================================================================
// Home.scss
// ==========================================================================

// ABOUT SECTION //

// Fix size of figures on mobile view
.stats__item {
	.heading__primary {
		@media screen and (max-width: $lns-breakpoint-mobile) {
			font-size: 17rem;
			line-height: 100%;
		}
	}
	.p-small {
		opacity: .75;
		@media screen and (max-width: $lns-breakpoint-tablet-max) {
			white-space: nowrap;
		}
	}
}

.testimonial-inline {
	.icon__img {
		box-shadow: $lns-shadow-yellow;
	}
}

// CASE STUDIES SECTION //

.featured-cases__content {
	p {
		opacity: 0.65;
	}
	.featured-cases__category {
		opacity: 0;
	}
	.arrow-link {
		color: $lns-brand-black;
		opacity: 0;
		position: absolute;
		top: auto;
		left: auto;
		right: auto;
		bottom: 1.25rem;
		transition: $lns-transition;
		@media screen and (min-width: $lns-breakpoint-tablet-min) and (max-width: $lns-breakpoint-tablet-max) {
			bottom: 2.5rem;
		}
		@media screen and (max-width: $lns-breakpoint-mobile) {
			bottom: 7.5rem;
		}
	}
}

.featured-cases__content {
	&:hover {
		.featured-cases__category {
			opacity: 0.5;
		}
		.arrow-link {
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.featured-cases__scroll {
	transition: $lns-transition;
}

#fc-arrow--left {
	@media screen and (max-width: $lns-breakpoint-tablet-max) {
		display: none;
	}
}

// WHY SECTION //

.why__section {
	.why__content {
		p {
			margin-top: $lns-space-xsmall;
		}
	}
	.hr {
		margin: $lns-space-medium auto;
		@media screen and (max-width: $lns-breakpoint-mobile) {
			margin: $lns-space-xlarge auto;
		}
	}
	.grid--spaced {
		margin-bottom: $lns-space-small;
		@media screen and (max-width: $lns-breakpoint-mobile) {
			margin-bottom: $lns-space-xxlarge;
		}
	}

	.why__benefit {
		.heading__dark {
			margin-top: 1.5rem;
			margin-bottom: .5 * $lns-space-xsmall;
			@media screen and (max-width: $lns-breakpoint-mobile) {
				margin-top: $lns-space-medium;
			}
		}
		.icon__img {
			box-shadow: $lns-shadow-yellow;
		}
		.p-small {
			opacity: .75;
		}
	}
}

// TESTIMONIAL SLIDER //

.testimonial-slider {
	h4 {
		padding-bottom: $lns-space-medium;
		@media screen and (max-width: $lns-breakpoint-mobile) {
			padding-bottom: $lns-space-xlarge;
			font-size: 7rem;
		}
	}
	.icon__img {
		box-shadow: $lns-shadow-dark;
	}
	.p-large {
		margin-top: $lns-space-xsmall;
		margin-bottom: 0;
		opacity: 1;
	}
	p {
		opacity: .5;
	}
}

// BLOG POSTS SECTION //

.section.posts__section {
	.container.container-10clm {
		padding: $lns-space-large 0;
		@media screen and (max-width: $lns-breakpoint-mobile) {
			padding: $lns-space-xxlarge 0;
		}
	}
	.post__item {
		img {
			@include defaultRadius();
			width: 100%;
			height: 18rem;
			object-fit: cover;
			@media screen and (max-width: $lns-breakpoint-mobile) {
				height: 72.5rem;
			}
		}
		.heading__dark {
			margin-top: $lns-space-xsmall;
			margin-bottom: $lns-space-xsmall;
			@media screen and (max-width: $lns-breakpoint-mobile) {
				margin-top: $lns-space-large;
				margin-bottom: $lns-space-small;
			}
		}
	}
	.row {
		margin-top: (0.65 * $lns-space-large);
		@media screen and (max-width: $lns-breakpoint-mobile) {
			margin-top: $lns-space-xxlarge;
		}
	}
}

/*




















*/
