// ==========================================================================
// Global styles
// ==========================================================================

// Fluid sizing
html {
	font-size: 0.8vw;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#luxy::-webkit-scrollbar {
	scrollbar-color: rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0);
}
