// ==========================================================================
// Home page
// ==========================================================================

// Fix size of figures on mobile view
.stat__item .heading__primary {
	@media screen and (max-width: $mobile) {
		font-size: 13.35rem;
	}
}

.featured-cases__content {
	&:hover {
		.featured-cases__category {
			opacity: 1;
		}
	}
	p {
		opacity: 0.65;
	}
	.featured-cases__category {
		opacity: 0;
		transition: $transition;
	}
}
