// ==========================================================================
// Home page
// ==========================================================================

.stat__item .Heading__primary {
	@media screen and (max-width: $mobile) {
		font-size: 13.35rem;
	}
}

.Featured-cases__cursor {
	pointer-events: none;
	cursor: none;
}
