// ==========================================================================
// Services-temp.scss
// ==========================================================================

.section.services-temp__hero {
	.container.container-12clm {
		padding-bottom: 0;
	}
}

.services-temp__hero-img {
	@extend .default-rad;
}

.services-temp__benefit {
	.heading__primary {
		white-space: nowrap;
		margin-bottom: $lns-space-xsmall;
	}
}

// Additional gallery classes

.services-temp__gallery div:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.services-temp__gallery div:nth-last-child(1) {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;
}

.testimonial__banner {
	box-shadow: $lns-shadow-default;
	.row {
		justify-content: start;
		margin-top: $lns-space-small;
		padding-top: $lns-space-small;
		border-top: 0.125rem solid $lns-brand-offwhite;
		p:first-child {
			color: $lns-brand-black;
			line-height: 100%;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.icon__img {
		margin-right: $lns-space-small;
		box-shadow: $lns-shadow-yellow;
	}
}
