// ==========================================================================
// Case-studies.scss
// ==========================================================================

#case-studies__hero {
	color: $lns-brand-white;
	.container.container-full-width {
		padding: 0;
	}
	.container.container-11clm {
		justify-content: flex-end;
		padding: 0 0 5rem 0;
	}
	.hero-slider__content {
		transition: all 1.2s linear;
		opacity: 1;
		.p-large {
			@media screen and (max-width: $lns-breakpoint-mobile) {
				margin-top: $lns-space-medium;
				margin-bottom: $lns-space-medium;
			}
		}
	}
}

.case-study__grid {
	div:nth-child(5) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		.featured-cases__item {
			width: 100rem;
		}
		.featured-cases__content {
			width: 42.1875rem;
		}
		@media screen and (max-width: $lns-breakpoint-tablet-max) {
			.featured-cases__item {
				width: 115rem;
			}
			.featured-cases__content {
				width: 51.5rem;
			}
		}
		@media screen and (max-width: $lns-breakpoint-mobile) {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 5;
			grid-row-end: 6;
			.featured-cases__item {
				width: 110rem;
			}
			.featured-cases__content {
				width: 100rem;
			}
		}
	}
	.featured-cases__item {
		@media screen and (max-width: $lns-breakpoint-tablet-max) {
			width: 100%;
			margin: 0;
		}
	}
}
