// ==========================================================================
// Global styles
// ==========================================================================

// Fluid sizing
html {
	font-size: 0.8vw;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#luxy::-webkit-scrollbar {
	display: none;
}

.main {
	transition: all .8s cubic-bezier(0.25, 1, 0.5, 1);
	opacity: 0;
}
.main__in-view {
	opacity: 1;
}

a:-webkit-any-link {
	color: inherit;
}
