// ==========================================================================
// Global styles
// ==========================================================================

// Fluid sizing
html {
	font-size: 0.8vw;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#luxy::-webkit-scrollbar {
	display: none;
}

.Row .container,
.Row .container.container-6clm {
	padding: 0;
	margin: 0;
}
