// ==========================================================================
// Variables
// ==========================================================================

// Breakpoints
$desktop: 992px;
$tablet-max: 991px;
$tablet-min: 768px;
$mobile: 479px;

// Colours

// Animations
$transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);

// Shadows
$yellowShadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(255, 196, 0, 0.12),
	0px 16px 24px rgba(255, 196, 0, 0.2);
